ImageFlickrSearch/ImageFlickrSearch.xcworkspace/xcuserdata/julia.xcuserdatad/IDEFindNavigatorScopes.plist
ImageFlickrSearch/ImageFlickrSearch.xcworkspace/xcuserdata/julia.xcuserdatad/UserInterfaceState.xcuserstate
ImageFlickrSearch/ImageFlickrSearch.xcworkspace/xcuserdata/julia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
